<% if @user %>
  
  <div id="user_banner">
    <h3><%= @user.name %></h3>
    <%= image_tag(@user.image) unless @user.image.nil? %>
  </div>
  
  <% if @collections.empty? || @collections.nil? %>
    <p>You don't listen to much music...</p>
  <% else %>
      <% for collection in @collections %>
        <table>
          <tr> <%= collection.first[:timeframe] %> favourites
            <th>track</th>
            <th>artist</th>
            <th>album</th>
          </tr>
          <% for track in collection %>
            <tr>
              <td><%= track[:track] %></td>
              <td><%= track[:artist] %></td>
              <td><%= track[:album] %></td>
            </tr>
          <% end%>
        </table>
      <% end %>
  <% end %>

  <% if @top_artists %>
    <h3>Top Artists in order</h3>
    <ol>
      <% for artist in @top_artists %>
        <li><%= artist[:artist] %></li>
      <% end %>
    </ol>
  <% end %>

  <div id="playlist_form">
    <p>Generate a playlist based on a random 5 artists from your own top 40. Tweak the features of the tracks you'd like on the playlist below. Click the ::Generate Playlist:: button for results.</p>
    <%= form_with(url: '/spotify/recommendations_all', local: true, method: "GET") do %>
      <table>
        <tr>
          <td><%= text_field_tag('acousticness[min]', 0.0, class: 'left') %></td>
          <td><%= label_tag('acousticness', nil, class: "center") %></td>
          <td><%= text_field_tag('acousticness[max]', 1.0, class: "right") %></td>
        </tr>
        <tr>
          <td><%= text_field_tag('danceability[min]', 0.0, class: 'left') %></td>
          <td><%= label_tag('danceability', nil, class: "center") %></td>
          <td><%= text_field_tag('danceability[max]', 1.0, class: "right") %></td>
        </tr>
        <tr>
          <td><%= text_field_tag('energy[min]', 0.0, class: 'left') %></td>
          <td><%= label_tag('energy', nil, class: "center") %></td>
          <td><%= text_field_tag('energy[max]', 1.0, class: "right") %></td>
        </tr>
        <tr>
          <td><%= text_field_tag('instrumentalness[min]', 0.0, class: 'left') %></td>
          <td><%= label_tag('instrumentalness', nil, class: "center") %></td>
          <td><%= text_field_tag('instrumentalness[max]', 1.0, class: "right") %></td>
        </tr>
        <tr>
          <td><%= text_field_tag('valence[min]', 0.0, class: 'left') %></td>
          <td><%= label_tag('valence (cheerfulness)', nil, class: "center") %></td>
          <td><%= text_field_tag('valence[max]', 1.0, class: "right") %></td>
        </tr>
        <tr>
          <td><%= text_field_tag('popularity[min]', 0, class: 'left') %></td>
          <td><%= label_tag('popularity', nil, class: "center") %></td>
          <td><%= text_field_tag('popularity[max]', 100, class: "right") %></td>
        </tr>
        <tr>
          <td><%= submit_tag("Generate Playlist") %></td>
        </tr>
      </table>
    <% end %>
  </div>

<% end %>










