

<h2>Sonos Blame</h2>

<% if current_user %>
  

  <div id="search_form">
    <%= form_with(url: "/spotify/search", local: true, method: "GET") do %>
      <%= label_tag(:query, "search for artist") %>
      <%= text_field_tag(:query) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

  <div id="brag">
    <p><%= link_to 'Review your own excellent choices', current_user %></p>
  </div>
  

<% else %>

  <p>login with your spotify account to see who is playing that band / singer on sonos...</p>
<% end %>



