
<h2>Sonos Blame</h2>

<% if current_user %>
  


  <%= form_with(url: "/spotify/search", local: true, method: "GET") do %>
    <%= label_tag(:query, "search for artist") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
  <% end %>

  <p><%= link_to 'Review your own excellent choices', current_user %></p>

  <p><%= link_to 'View other users terrible tastes', users_path %></p>

  <%= form_with(url: '/spotify/recommendations', local: true, method: "GET") do %>
    <%= text_field_tag(:min_acousticness) %>
    <%= text_field_tag(:min_danceability) %>
    <%= text_field_tag(:min_energy) %>
    <%= text_field_tag(:min_instrumentalness) %>
    <%= text_field_tag(:min_popularity) %>
    <%= text_field_tag(:min_speechiness) %>
    <%= text_field_tag(:min_tempo) %>
    <%= text_field_tag(:min_valence) %>
    <%= submit_tag("Generate Playlist") %>
  <% end %>



<% else %>

  <p>login with your spotify account to see who is playing that artist on sonos...</p>
<% end %>



