
<h2>Sonos Blame</h2>

<% if current_user %>
  


  <%= form_with(url: "/spotify/search", local: true, method: "GET") do %>
    <%= label_tag(:query, "search for artist") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
  <% end %>

  <p><%= link_to 'Review your own excellent choices', current_user %></p>


  <%= form_with(url: '/spotify/recommendations_all', local: true, method: "GET") do %>
    <table>
    <%= text_field_tag('acousticness[min]') %>
    <%= label_tag('acousticness') %>
    <%= text_field_tag('acousticness[max]') %>
    <br>
    <%= text_field_tag('danceability[min]') %>
    <%= label_tag('danceability') %>
    <%= text_field_tag('danceability[max]') %>
    <br>
    <%= text_field_tag('energy[min]') %>
    <%= label_tag('energy') %>
    <%= text_field_tag('energy[max]') %>
    <br>
    <%= text_field_tag('instrumentalness[min]') %>
    <%= label_tag('instrumentalness') %>
    <%= text_field_tag('instrumentalness[max]') %>
    <br>
    <%= text_field_tag('valence[min]') %>
    <%= label_tag('valence') %>
    <%= text_field_tag('valence[max]') %>
    <br>
    <%= text_field_tag('popularity[min]') %>
    <%= label_tag('popularity') %>
    <%= text_field_tag('popularity[max]') %>
    <br>
    <%= submit_tag("Generate Playlist") %>
    </table>
  <% end %>



<% else %>

  <p>login with your spotify account to see who is playing that artist on sonos...</p>
<% end %>



