<h1>Who is playing <%= @artist_name %>?</h1>

<h2>Probably <%= @winner %></h2>

<% unless @suspects.empty? %>
  <h4>other suspects include...</h4>
  <%= @suspects %>
<% end %>

<p> <%= @explanation %></p>
<p>Confidence: <%= @confidence %></p>

