<!DOCTYPE html>
<html>
  <head>
    <title>Sonos Blame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <ul class="hmenu">
      <li><%= link_to 'Home', root_path %></li>
      <li> | </li>
      <li><%= render 'devise/menu/login_items' %></li>
    </ul>
    <%= yield %>
  </body>
</html>
